:root {
  --white: #fff;
  --black: #000;
  --dark-green: #222c2a;
  --dark-brown: #824936;
  --off-white: #f3eed9;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--off-white);
}

.container {
  font-family: sans-serif;
  width: 95%;
  margin: 0 auto;
  max-width: 1128px;
}

.dropdowns,
.code {
  width: 85%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.25rem;
}

.para__code {
  font-family: monospace;
  background-color: var(--dark-brown);
  color: var(--white);
  padding: 0.25em;
  border-radius: 0.25rem;
}

.dropdown + .dropdown {
  margin-top: 1.5em;
}

.copy-button {
  background-color: var(--dark-brown);
  border: none;
  color: var(--off-white);
  padding: 0.75em 1.25em;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.2s ease-in-out;
}

.copy-button:hover,
.copy-button:focus {
  background-color: var(--off-white);
  border: 1px solid var(--dark-brown);
  color: var(--dark-brown);
}

@media (min-width: 800px) {
  .container {
    width: 85%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .dropdowns,
  .code {
    width: 50%;
  }
}
