:root {
  --white: #fff;
  --black: #000;
  --dark-green: #222c2a;
  --dark-brown: #824936;
  --off-white: #f3eed9;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--off-white);
}
.container {
  font-family: sans-serif;
  width: 95%;
  margin: 0 auto;
  max-width: 1128px;
}

.dropdowns,
.code {
  width: 85%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.25rem;
}

.para__code {
  font-family: monospace;
  background-color: var(--dark-brown);
  color: var(--white);
  padding: 0.25em;
  border-radius: 0.25rem;
}

.dropdown + .dropdown {
  margin-top: 1.5em;
}

@media (min-width: 800px) {
  .container {
    width: 85%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .dropdowns,
  .code {
    width: 50%;
  }
}
